
/* Navbar opens */
nav{
    height: 100px;
    font-family: "Ubuntu", sans-serif;
   width: 100%;
   position:absolute;
  
   
}
.navbar-brand{
    color: rgb(5, 85, 5);
    display: flex;
    
    }
.navbar{
    z-index: 10000;
    position: fixed;
    top: 0;
    width: 100%;

}
.navbar-brand:hover{
    color: rgb(9, 79, 9);
}
.logo{
    width: 220px;
    height: 125px;
    margin-top: 10px;
}
.collapse{
    display: flex;
    justify-content: flex-end;
    margin: 20px;
}
.nav-link{
    color: white;
}
.active{
    color: orange;
}
.nav-item{
    font-size: 22px;
    font-weight: 600;
}
.logo-span{
    text-wrap: wrap;
    font-size: 30px;
}
.top-span{
    margin-top: 30px;
}
.top-span,
.bottom-span{
    display: block; 
    font-family: "Ubuntu", sans-serif;
    font-weight: 600; 
    font-size: 30px; 
    margin-left: 10px;
}

.bottom-span{
    font-size: 18px;
}


.slideshow-container {
    position: relative;
    max-width: 100%;
    height: 100vh;
}

.slideshow {
    position: relative;
    width: 100%;
    height: 100%;
}

.mySlides {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
}

.mySlides img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.text1 {
    position: absolute;
    bottom: 300px;
    left: 150px;
    color: white;
    font-size: 50px;
    padding: 10px;
    border-radius: 5px;
    font-family: "Ubuntu", sans-serif;
    line-height: 1;
    font-weight: 600;
}
.text2 {
    position: absolute;
    bottom: 250px;
    left: 650px;
    color: white;
    font-size: 50px;
    padding: 10px;
    border-radius: 5px;
    font-family: "Ubuntu", sans-serif;
    line-height: 1;
    font-weight: 600;
}
.text3 {
    position: absolute;
    bottom: 100px;
    left: 950px;
    color: white;
    font-size: 50px;
    padding: 10px;
    border-radius: 5px;
    font-family: "Ubuntu", sans-serif;
    line-height: 1;
    font-weight: 600;
}
.text4 {
    position: absolute;
    bottom: 200px;
    left: 400px;
    color: white;
    font-size: 50px;
    padding: 10px;
    border-radius: 5px;
    font-family: "Ubuntu", sans-serif;
    line-height: 1;
    font-weight: 600;
    
}
.text.active {
    background-color: rgba(0, 0, 0, 0.5); 
}
.prev {
    left: 50px;
    border-radius: 3px 0 0 3px;
    
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    transition: 0.6s ease;
    border-radius: 0 1px 1px 0;
    user-select: none;
    z-index: 1001;
    font-weight: 100;
    background-color: rgba(0, 0, 0, 0.513);
}
a{
    text-decoration: none;
}

.next {
    right: 50px;
    border-radius: 3px 0 0 3px;
    
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 5s;
    animation-name: fade;
    animation-duration: 5s;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 5}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 5}
}

/* Navbar closes */
.arrow{
    position: absolute;
    transform: translate(-50%, -50%);
    bottom: 50px;
    right: 47%;
    width: 50px;
    height: 50px;
    border: 3px solid white;
    border-radius: 60%;
    cursor: pointer;
}
.arrow i{
    cursor: pointer;
    margin-top: 15px;
    margin-left: 15px;
    font-size: 20px;
    height: 10px;
    color: white;
    line-height: 1;
}
.arrow{
    position: absolute;
    transform: translate(-50%, -50%);
    bottom: 50px;
    right: 47%;
    width: 50px;
    height: 50px;
    border: 3px solid white;
    border-radius: 60%;
    cursor: pointer;
    animation: arrowBounce 6s infinite; /* Add the animation here */
}
.arrow i{
    cursor: pointer;
    margin-top: 15px;
    margin-left: 15px;
    font-size: 20px;
    height: 10px;
    color: white;
    line-height: 1;
}

@keyframes arrowBounce {
    0%, 100% {
        transform: translate(-50%, -50%) translateY(0);
    }
    50% {
        transform: translate(-50%, -50%) translateY(-10px);
    }
}

/* Animation to slide the overlay from left to right */
@keyframes slideOverlay {
    0% {
        left: 0;
        width: 100%;
    }
    50% {
        left: 0;
        width: 100%;
    }
    100% {
        left: 100%;
        width: 0;
    }
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.who{
    margin-top: 50px;
}
.what-p1{
    font-family: "Ubuntu", sans-serif;
    font-weight: 100;
}
.divider {
    height: 50px;
    width: 4px; /* Adjust width as needed */
    background-color: red;/* Change color as needed */
    margin: 0 10px; /* Adjust margin to control spacing */
    margin-top: 60px;
}
.what{
    margin-left: 4px;
    margin-top: -115px;
    margin-bottom: 30px;
    color: rgb(9, 53, 9);
    font-weight: 700;
}
.what-p{
    margin-top: -10px;
    margin-left: 50px;
    font-style: italic;
    font-family: "Ubuntu", sans-serif;
    font-weight: 100;
}
#projects{
    padding: 30px 0;
    
}

.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin: 40px;
}
.work{
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    
}
.work img{
    height: 450px;
    width: 100%;
    border-radius: 10px;
    display: block;
}
.languages{
    font-family: "poppins", sans-serif;
    font-weight: 700;
    color: #fff;
    position: absolute;
    top: 85%;
    left: 42%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    z-index: 10;
}
.work-span{
    white-space: nowrap;
}
.work-img a{
    transition: transform 7s ease, filter 8s ease; 
   
}

.work:hover img{
    transform: scale(1.1) translateY(-1px);
    transform: translateY(-10px) scale(1.1);
    filter: brightness(0.8);
}
.work:hover .layer{
    height: 100%;
}

.backgroundProjects{
    background-color: rgb(5, 85, 5);
    width: 100%;
    height: 100vh;
    margin-top: -250px;
}
.roww{
    margin-top: -400px;
    display: flex;
    justify-content: center;
    margin-left: 100px;
    width: 90%;

}
.workImage{
    width: 420px;
    height: 280px;
}
.h1-second{
    margin-top: -10px;
}
.second{
    height: 65px;
    margin-top: 20px;
}

.p-second{
    margin-left: 40px;
    margin-top: -73px;
}
ul{
    margin-top: -15px;
}
.fa-minus{
    font-weight: lighter;
    font-size: 17px;
}
li{
    font-weight: bolder;
    font-size: 20px;
    list-style: none;
    margin: 20px;
}
.secondButton{
    margin-left: 19px;
    font-size: 12px;
    width: 150px;
    height: 40px;
    border: 0;
}
.bIcon-span{
    margin-left: 20px;
}